body{
    color: var(--font-color-black);
}

@media screen and (min-width: 540px) {
  header {   
    background: url("../images/estrutura/header.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;    
    background-position-y: -15rem;
  }

  .background-primary {
    background-color: var(--primary-theme-color-transparent);    
  }
}
@media screen and (max-width: 539px) {
header{
    background-color: var(--primary-theme-color);
}

  .background-primary {
    background-color: var(--primary-theme-color);
  }

  .imagem-promocao{
    height: 20rem;
    margin-bottom: 1rem;
  }
}

.form-control {
  margin-bottom: .5rem;
}

.menu-ativo {
  border-bottom: .5rem solid var(--destaque-color);
  color: var(--destaque-color) !important;
}

.nav-link:hover {
  border-bottom: .5rem solid var(--destaque-color);
  color: var(--destaque-color) !important;
}

.bg-destaque{
    background-color: var(--destaque-color); 
    color: var(--primary-theme-color);   
}

.btn-destaque{
  background-color: var(--destaque-color);
  color: var(--primary-theme-color)
}

.btn-destaque:hover{
    background-color: var(--destaque-color-hover);
    border-color: transparent;
}

.bg-theme-primary{
  background-color: var(--primary-theme-color);
}

.bg-black{
  background-color: var(--black-color);
}

.servicos .bi{
  font-size: 6rem;
}

.destino{
  height: auto;
  position: relative;
}

.maragogi{
  background: url('../images/destinos/maragogi-1.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.border-theme-primary{
  border: 1px solid var(--primary-theme-color-transparent);
}

.imagem-promocao{
  background:url('../images/destinos/maragogi-2.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;  
}

.font-contatos{
  font-size: 3rem;  
}

.sobre p{
  text-align: justify;
}

.pacotes .card{
  cursor: pointer;
}

.pacotes .card-maragogi{
  background: url("../images/destinos/maragogi-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
}

.pacotes .card-jericoacoara{
  background: url("../images/destinos/jericoacoara.jpg") no-repeat;
  background-size: cover;  
}

.pacotes .card-jordao{
  background: url("../images/destinos/jordao.png") no-repeat;
  background-size: cover;  
}

.pacotes .card-paris{
  background: url("../images/destinos/paris.jpg") no-repeat;
  background-size: cover;  
}

.pacotes .card-novayork{
  background: url("../images/destinos/novayork.jpg") no-repeat;
  background-size: cover;  
}

.pacotes .card-holanda{
  background: url("../images/destinos/holanda.jpg") no-repeat;
  background-size: cover;  
}

.pacotes .card-noruega{
  background: url("../images/destinos/noruega.jpg") no-repeat;
  background-size: cover;  
}

footer .bi{
  font-size: 4rem;
}
